h1{border:1px solid #0ff;color:#000;background-color:#add8e6}

.btn.btn-warning {
    background-color:rgb(1, 156, 53);
    transition: all 0.5s ease-in-out;
}

.btn.btn-warning:hover {
    background-color:greenyellow;
    transform:scale(1.2);
    transition: all 0.5s ease-in-out;
}